-i https://pypi.tuna.tsinghua.edu.cn/simple/
Django~=1.11
mitune==0.8.4
django-auto-complete-light==3.2.10
xadmin==0.6.1
django-ckeditor==5.4.0
pillow==6.2.0
djangorestframework=3.9.1
coreapi==2.3.3
-e .
